@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.wrapperp{
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapperp .cardp{
  background: rgb(208, 221, 245);
  width: calc(100% - 10px);
  margin: auto;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.wrapperp .cardp .circle{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: default;
}
.cardp .circle .box,
.cardp .circle .box span{
  position: absolute;
  top: 50%;
  left: 50%;
}
.cardp .circle .box{
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.2s;
}
.cardp .circle:hover .box{
  transform: translate(-50%, -50%) scale(0.91);
}
.cardp .circle .box span,.cardp .circle .bar,
.wrapperp .cardp .text{
  background: -webkit-linear-gradient(left, #ce99d4, #7791db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.circle .box span{
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 600;
  transform: translate(-45%, -45%);
  transition: all 0.1s;
}
.cardp .circle:hover .box span{
  transform: translate(-45%, -45%) scale(1.09);
}
.cardp .text{
  font-size: 20px;
  font-weight: 600;
}
