*{

    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{

    min-height: 103vh;
    width: 103%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/team.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}
nav {

    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {

    width: 250px;
	height: 250px;
    
}

.nav-links{

        flex: 1;
        text-align: right;
}

.nav-links ul li{

    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
/*fonts*/
.nav-links ul li a{

    color: #fff;
    text-decoration: none;
    font-size: 14px;

}
/*hover effect*/
.nav-links ul li::after{

    content: '';
    width: 0%;
    height: 2px;
    background: #bfcec3;
    display: block;
    margin: auto;
    transition: 0.5s;
   

}
.nav-links ul li:hover::after{

    width: 100%;
}
.txt {
   font-size : 80px;
   color :#FFFFFF;
   font-family:'Poppins',sans-serif;
   font-style : bold;
   
}
.tm {
 font-size : 48px;
 padding-left :20px;
 font-style : bold;
 
}
.tml{
 font-size : 20px;
 padding :  30px;
 color:#191970;

}
#pa{
font-size : 25px;
font-style:bold;
}
 
.image-container{
	display:flex; 
	justify-content:center; 
	align-items:center;
}
.image{
	width:120px;
	height:120px;
	background:#001c3d;
	margin: 2px 50px;
	border-radius: 50%;
	border: 3px solid black;
	display : flex;
	justify-content:center;
	align-items:center;
	box-shadow : rgb(0,0,139);
}
.image:hover{
	border : 3px solid 	#4682B4;
}
img {
	 width : 116px;
	 height: 116px;
	 border-radius: 50%;
}
.info-container{
	 width: 1100px;
	 height: 350px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 background: #E6E6FA;
	 margin: 0 auto; 
	 margin-top: 50px;
	 border-radius: 5px;
	 box-shadow: 0px 0px 50px rgb(0,0,139);
	 background-color: #008080;
	
	 
}


.name {
	 margin-top: 80px;
	 padding: 0px 15px;
	 text-align: left;
	 font-size: 50px;
	 line-height: 20px;
}
.profile{
	width: 325px;
	height: 325px;
	border-radius: 50px;
	padding: 10px;
	margin: 0;
}
.status{
	padding : 20px 20px;
	text-align : left;
	line-height: 20px;
	margin: 0;
}
.about {
    height : 240px;
	padding : 0px 20px;
}
 .image-container2{
	display:flex; 
	justify-content:center; 
	align-items:center;
 }
 .info-container2{
	 width: 1100px;
	 height: 350px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 background: #E6E6FA;
	 margin: 0 auto; 
	 margin-top: 50px;
	 border-radius: 5px;
	 box-shadow: 0px 0px 50px rgb(0,0,139);
	 background-color: #008080;
	 
}
.container {
	text-align : center;
	margin-top: 20px;
}
.btn1{
	 border: 1px solid #3498db;
	 background: none;
	 padding : 10px 20px;
	 font-size: 20px;
	 font-family: "montserrat";
	 cursor : pointer;
	 margin : 10px;
	 background-color :  #00A4B4;
}
.btn1:hover{
	border: 3px solid #001440;
}
/*.back{
	background-image : url(images/back3.jpg);
	background-size: cover;
	background-attachment : fixed;
	
} */

video {
	object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; // Put the video behind all other elements
}

/* footer*/ 

.footer-container{

    background-color: #212329;
    padding-bottom: 4rem;

 }

 .footer{

     width: 50;
     height: 35vh;
     background-color: #212329;
     color: #fff;
     display: flex;
     justify-content:center;
     flex-wrap: wrap;
     margin:0 auto ;
    }

.footer-heading{

    display: flex;
    flex-direction: column;
    margin: 4rem;

}
.footer-heading h2{

    margin: 2rem;

}

.footer-heading a {

    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover{

    color: aquamarine;
    transition: 0.5s;
}


 

 

