body{
    background-color: darkcyan;
}
h1{
    text-align: center;
    font-size: 50px;
    background-color: darkcyan;
    padding: 10px;
    color: rgb(255, 255, 255);
}
.container{
    margin-top: 50px;
    margin-left: 35%;
    padding: 60px;
    background-color: darkgrey;
    text-align: center;
    padding: 50px;
    display:inline-block;
    width: 350px;
    
}
input{
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    box-shadow: rgb(0, 0, 0);
    border-radius: 10px;
    font-family:serif;
    font-weight: bold;
}
textarea{
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    box-shadow: rgb(0, 0, 0);
    border-radius: 10px;
    font-family: serif;
    font-weight: bold;
}